.card-img {
    width: 100%;
    height: 65vw;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent)
}

#index_title {
    text-align: center;
    text-decoration: solid;
}

#index_subtitle {
    text-align: center;
}

.card-title{
    color: rgb(255, 68, 0);
    text-align: center;
    text-decoration: solid;
}

.card-text{
    color: rgb(255, 119, 0);
    text-align: center;
}