.card-img-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent)
}

#index_title {
    text-align: center;
    text-decoration: solid;
}

#index_subtitle {
    text-align: center;
}

.card-title{
    text-align: center;
    text-decoration: solid;
}

.card-text{
    text-align: center;
}