.card-img {
    width: 100%;
    height: 65vw;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent)
}

#index_title {
    text-align: center;
    text-decoration: solid;
    padding-bottom: 5%;
}

.card-title{
    color: rgb(146, 227, 177);
    text-align: center;
    text-decoration: solid;
    padding-bottom: 10%;
}

#footer-placeholder{
    padding-top: 4%;
    text-align: center;
}

#cv_title{
    padding-top: 18px;
    text-align: center;
    text-decoration: solid;
}

a{
    color:black;
    text-decoration: none;
}

#TableofContent{
    padding-top: 60px;
}

#locusInfo{
    padding-top: 25px;
}

#poems_title{
    padding-top: 20px;
    padding-bottom: 20px
}

#poems_subtitle{
    padding-bottom: 20px
}

.poemTitle{
    padding-top: 10px;
    padding-bottom: 10px
}

.vl{
    border-right: 1px solid #ccc;
    height: 100%;
    margin-left: -1px;
    margin-right: -1px;
}